[Desktop Entry]
Name=SimplePicture
Comment=Lightweight image viewer
Exec=SimplePicture %f
Icon=simplepicture
Terminal=false
Type=Application
Categories=Graphics;Viewer;
MimeType=image/png;image/jpeg;image/bmp;image/gif;image/webp;image/tiff;image/x-icon;image/svg+xml;
